.logos {
  width: 100vw;
}

.logo {
  width: 25vw;
  height: 25vw;
  float: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon-bottom {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin-alt infinite 20s linear;
  }
  .icon-bottom {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-alt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}